{
  "env": {
    "client": {
      "presets": [
        ["env", { "modules": false, "targets": { "browsers": ["last 2 versions", "> 5%"] } }],
        "react"
      ],
      "plugins": [ "syntax-dynamic-import" ]
    },
    "server": {
      "presets": [
        ["env", { "targets": { "node": 8 } }],
        "react"
      ],
      "plugins": [ "dynamic-import-node" ]
    },
    "test": {
      "presets": [
        ["env", { "targets": { "node": "current" } }],
        "react"
      ],
      "plugins": [ "dynamic-import-node" ]
    }
  }
}
