{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": { "browsers": [ "last 2 versions", "> 5%" ] }
      }
    ],
    "react"
  ],
  "env": {
    "test": {
      "presets": [
        "env"
      ]
    }
  }
}
