{
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "plugins": [
    "compat"
  ],
  "settings": {
    "polyfills": [
      "fetch",
      "promises"
    ]
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "arrow-parens": 0,
    "comma-dangle": 0,
    "compat/compat": 2,
    "func-names": ["error", "as-needed"],
    "import/no-extraneous-dependencies": 0,
    "import/order": ["error"],
    "import/prefer-default-export": 0,
    "no-mixed-operators": 0,
    "no-warning-comments": ["error", { "terms": ["todo", "fixme"], "location": "anywhere" }],
    "react/forbid-prop-types": 0,
    "semi": 0
  }
}
