{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "max-len": "off"
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": webpack
  }
}
