# Node
npm-debug.log
yarn-error.log
/node_modules

# Server
/server/node_modules

# OSX
.DS_Store

# Coverage reports
/coverage

# Build results
/dist

# Build statistics
stats.json

# Environment specific settings
.env
